{% extends "base.html" %}

{% block title %}Mangas{% endblock %}

{% block content %}

<div class="container py-5">

    <h2 class="text-center mb-5" style="color:white;">
        Mangas
    </h2>

    <!-- BOTONES -->

    <div class="d-flex justify-content-center gap-3 mb-5 flex-wrap">

        <a href="{{ url_for('comics_page') }}"
        class="btn"
        style="background:#1f2a36;color:white;border:1px solid #a680d8;">
            Comics
        </a>

        <a href="{{ url_for('mangas_page') }}"
        class="btn"
        style="background:#a680d8;color:white;border:none;">
            Mangas
        </a>

        <a href="{{ url_for('libros_page') }}"
        class="btn"
        style="background:#1f2a36;color:white;border:1px solid #a680d8;">
            Libros
        </a>

    </div>

    <div class="row g-4 justify-content-center">

        <!-- MANGA -->

        <div class="col-md-4">

            <div class="card h-100 shadow"
            style="background:#1f2a36;border:none;border-radius:15px;color:white;overflow:hidden;">

                <img
                    src="{{ url_for('static', filename='img/aot.png') }}"
                    style="height:220px;object-fit:cover;width:100%;"
                >

                <div class="card-body d-flex flex-column">

                    <h5 style="color:#a680d8;">
                        Attack on Titan
                    </h5>

                    <p>
                         Eren y sus amigos luchan por sobrevivir en un mundo dominado por gigantes devoradores de humanos pero eso cambiara en el futuro.
                    </p>

                    <small>
                        Autor: Hajime Isayama
                    </small>

                </div>

            </div>

        </div>

        <!-- DRAGON BALL SUPER -->

<div class="col-md-4">

    <div class="card h-100 shadow"
    style="background:#1f2a36;border:none;border-radius:15px;color:white;overflow:hidden;">

        <img
            src="{{ url_for('static', filename='img/dragon_ball.jpeg') }}"
            style="height:220px;object-fit:cover;width:100%;"
        >

        <div class="card-body d-flex flex-column">

            <h5 style="color:#a680d8;">
                Dragon Ball Super
            </h5>

            <p>
                Goku y Vegeta enfrentan nuevos dioses y poderosos enemigos en universos desconocidos.
            </p>

            <small>
                Autor: Akira Toriyama
            </small>

        </div>

    </div>

</div>

<!-- ONE PIECE -->

<div class="col-md-4">

    <div class="card h-100 shadow"
    style="background:#1f2a36;border:none;border-radius:15px;color:white;overflow:hidden;">

        <img
            src="{{ url_for('static', filename='img/one_piece.jpg') }}"
            style="height:220px;object-fit:cover;width:100%;"
        >

        <div class="card-body d-flex flex-column">

            <h5 style="color:#a680d8;">
                One Piece
            </h5>

            <p>
                Luffy y su tripulación recorren los mares buscando el legendario tesoro One Piece.
            </p>

            <small>
                Autor: Eiichiro Oda
            </small>

        </div>

    </div>

</div>

<!-- JOJO'S BIZARRE ADVENTURE -->

<div class="col-md-4">

    <div class="card h-100 shadow"
    style="background:#1f2a36;border:none;border-radius:15px;color:white;overflow:hidden;">

        <img
            src="{{ url_for('static', filename='img/jojos.jpeg') }}"
            style="height:220px;object-fit:cover;width:100%;"
        >

        <div class="card-body d-flex flex-column">

            <h5 style="color:#a680d8;">
                JoJo's Bizarre Adventure
            </h5>

            <p>
                La familia Joestar combate amenazas sobrenaturales a través de distintas generaciones.
            </p>

            <small>
                Autor: Hirohiko Araki
            </small>

        </div>

    </div>

</div>

<!-- FULLMETAL ALCHEMIST -->

<div class="col-md-4">

    <div class="card h-100 shadow"
    style="background:#1f2a36;border:none;border-radius:15px;color:white;overflow:hidden;">

        <img
            src="{{ url_for('static', filename='img/full_metal.jpg') }}"
            style="height:220px;object-fit:cover;width:100%;"
        >

        <div class="card-body d-flex flex-column">

            <h5 style="color:#a680d8;">
                Fullmetal Alchemist
            </h5>

            <p>
                Dos hermanos alquimistas buscan recuperar sus cuerpos tras un experimento prohibido.
            </p>

            <small>
                Autor: Hiromu Arakawa
            </small>

        </div>

    </div>

</div>

<!-- DEVIL MAY CRY -->

<div class="col-md-4">

    <div class="card h-100 shadow"
    style="background:#1f2a36;border:none;border-radius:15px;color:white;overflow:hidden;">

        <img
            src="{{ url_for('static', filename='img/dmc.jpg') }}"
            style="height:220px;object-fit:cover;width:100%;"
        >

        <div class="card-body d-flex flex-column">

            <h5 style="color:#a680d8;">
                Devil May Cry
            </h5>

            <p>
                Dante, un cazador de demonios mitad humano, combate fuerzas infernales con estilo.
            </p>

            <small>
                Autor: Capcom
            </small>

        </div>

    </div>

</div>

    </div>

</div>

{% endblock %}