{% extends "base.html" %}

{% block title %}Comics{% endblock %}

{% block content %}

<div class="container py-5">

    <h2 class="text-center mb-5" style="color:white;">Comics</h2>

    <div class="row g-4 justify-content-center">

        {% for comic in comics %}

        <div class="col-md-4">

            <div class="card h-100 shadow"
                style="background:#1f2a36;border:none;border-radius:15px;color:white;overflow:hidden;">

                <img src="{{ url_for('static', filename='img/batman.jpg') }}"
                    style="height:220px;object-fit:cover;width:100%;">

                <div class="card-body d-flex flex-column">

                    <h5 style="color:#a680d8;">{{ comic.titulo }}</h5>

                    <p>{{ comic.descripcion }}</p>

                    <small>Autor: {{ comic.autor }}</small>

                    <a href="{{ url_for('editar_comic', id=comic._id) }}"
                    class="btn mt-3"
                    style="background:#a680d8;color:white;border:none;">
                        Editar
                    </a>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}